/* body{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
} */
img{
  width:100px;
  height:100px;
}
h1{
  background-color: #2C3E50;
}
.parent{
  width :100%;
  display: flex;
    background-color: #F0F3F4;
}
.left,.right{
  width:47%;
  margin:1%;
  padding:1%;
  border: 2px solid #F1C40F;
  background-color: #F0F3F4;
}
